@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Arabic/DroidKufi-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Arabic/DroidKufi-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/English/Rubik-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/English/Rubik-Bold.ttf) format('truetype');
}
/*********************/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?y30x8o');
  src:  url('../fonts/icomoon.eot?y30x8o#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?y30x8o') format('truetype'),
  url('../fonts/icomoon.woff?y30x8o') format('woff'),
  url('../fonts/icomoon.svg?y30x8o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e901";
}
.icon-old-phone:before {
  content: "\e900";
}
.icon-menu2:before {
  content: "\e903";
}
/* #10a1d6 */
*{padding:0;margin:0;outline:none;list-style:none;border:0 none;}
html{-ms-touch-action:manipulation;touch-action:manipulation;}

body{
  color:#333;
  font-family:'Droid Arabic Kufi',Arial,Verdana,sans-serif;
  font-size:12px;
  direction:rtl;
  padding-top: 0 !important;
}

a:link, a:visited, a:active, a:focus {
  color:#168ae6;
  outline: 0 none;
  text-decoration: none;
  -webkit-transition: background-color .2s linear, color .2s linear;
  -moz-transition: background-color .2s linear, color .2s linear;
  -o-transition: background-color .2s linear, color .2s linear;
  -ms-transition: background-color .2s linear, color .2s linear;
  transition: background-color .2s linear, color .2s linear;

}
a:hover {
 color:#a50000;
 cursor: pointer;
}

pre,code{direction:ltr;background:url(images/code-bg.png);font:11px/19px 'andale mono','lucida console',monospace;padding:3px;display:block;overflow-x:visible;overflow-y:hidden;margin:0 0 20px 0;color:#666;border-top:1px solid #E1E1E1;border-left:1px solid #E1E1E1;border-bottom:1px solid #F0F0F0;border-right:1px solid #F0F0F0;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-family: 'Droid Arabic Kufi', serif; }
p{ font-family: 'Droid Arabic Kufi', serif; font-size:12px; line-height: 25px;}
img { max-width:100%;}
.alignright{float:right;}
.alignleft{float:left;}
.aligncenter{clear:both;margin-left:auto;margin-right:auto;}
.visible-desktop { display:block;}
.hidden-desktop { display:block;}
.small-padding [class*="col-"] {
  margin-bottom:6px;
  padding:0 3px;

}
.ctnPage{
  background:#FFF ;
  width: 100%;
  padding-top: 76px;
}
.navbar-toggle{
  margin-top: 12px;
}
.class_nav .navbar-collapse-head.in {
  left: 10px;
  position: absolute;
  right: 10px;
  top: 73px;
  background:#fff;


}
.class_nav_home .dropdown-menu > li > a { padding: 3px 12px !important;}

a:link, a:visited, a:active, a:focus {
  color: #168ae6;
  outline: 0 none;
  text-decoration: none;
  -webkit-transition: background-color .2s linear, color .2s linear;
  -moz-transition: background-color .2s linear, color .2s linear;
  -o-transition: background-color .2s linear, color .2s linear;
  -ms-transition: background-color .2s linear, color .2s linear;
  transition: background-color .2s linear, color .2s linear;
}
img {
  max-width: 100%;
}
.btn-link-blue {
  color: #168ae6 !important;
}
p {
  font-family: 'Droid Arabic Kufi', serif;
  font-size: 12px;
  line-height: 25px;
}
a.btn-header {
  padding: 14px 20px !important;
  color: #fff !important;
  background: #2196f3 !important;
  border: 1px solid #2196f3 !important;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  text-align: center;
  color: #fff;
  background-color: #2196f3;
  padding: 14px 24px;
  border-radius: 4px;
  -webkit-transition: background-color .1s ease;
  transition: background-color .1s ease;
  cursor: pointer;
  border-width: 0;
}
.margin-r-15 {
  margin-right: 15px;
}
.home-about-cover {
  border-radius: 8px 8px 0 0;
  background: #fff url(../images/hero-resume.png) top center no-repeat;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  min-height: 240px;
  display: block;
  margin-top: 20px;
}
.color-gra {
  color: #98a1b3 !important;
}
.margin-t-15 {
  margin-top: 15px;
}
.margin-t-30 {
  margin-top: 30px;
}
.margin-b-15 {
  margin-bottom: 15px;
}
.lang_en {
  font-family: 'Rubik';
}
.section-title {
  margin-bottom: 30px;
}
.section-title h2 {
  font-size: 25px;
  color: #333;
  margin: 0;
  position: relative;
  display: inline-block;
  z-index: 1;
  line-height: 33px;
}

.section-title {
  margin-bottom: 30px;
}
.section-title h2 {
  font-size: 25px;
  color: #333;
  margin: 0;
  position: relative;
  display: inline-block;
  z-index: 1;
  line-height: 33px;
}
.section-title h3 {
  font-size: 18px;
  color: #333;
  margin: 0;
  position: relative;
  z-index: 1;
  line-height: 33px;
}
.icon-left li{
  display: inline-block !important;
}
