<header id="header-con">
	<div id="nav-top">
		<div class="navbar navbar-tl4s navbar-default  ">
			<div class=" ">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" routerLink="/">
						<div class="navbar__logo" style="background-image: url(./assets/styles/images/SVG/For_White_Gray_Bg.svg)" routerLink="/"></div>
					</a>
				</div>


				<div class="navbar-collapse collapse" id="navbar-main">
					<ul class="nav navbar-nav navbar-left">
						<li><a routerLink="/login"  class="btn btn-link-blue   " > دخول </a>  </li>
						<li><a routerLink="/register"  class="btn btn-header   " > تسجيل جديد </a>  </li>
					</ul>
					<ul class="nav navbar-nav nav">
						<li class=" "><a routerLink="/">الرئيسية</a> </li>
						<li><a routerLink="/">من نحن</a> </li>
						<li><a routerLink="/pricing">   الاسعار </a> </li>
						<li><a routerLink="/"> الاسئلة الشائعة  </a> </li>
						<li><a routerLink="/"> تواصل معانا  </a> </li>
					</ul>

				</div>

			</div>
		</div>
	</div>
</header>
