<app-header-ctn></app-header-ctn>
<div class="ctnPage">
	<section class="home-about" >
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="section-title btn-link-blue">
						<h2 class=" btn-link-blue"> فقط 2 ٪ من السير الذاتية تجعله يتخطى الدور الأول. كن في أعلى 2٪ </h2>
					</div>
					<p>
						استخدم قوالب استئناف مهنية تم اختبارها ميدانياً تتبع قواعد "القواعد الذاتية" التي يبحث عنها. سهولة الاستخدام والقيام بذلك خلال دقائق - جرب الآن مجاناً!
					</p>
					<div class="read-more-slide">
						<a href="#" class="btn btn-header ">بناء القوالب</a>
						<a href="#" class="btn btn-header  btn-header-border-1 margin-r-15"> مشاهدة القوالب   </a>
					</div>

					<div class="home__hero-counter-main">
						<div class="home__hero-counter">
							<div class=" home__hero-counter-wrapper"  >
								<span class=" home__hero-counter-wrapper_num">8,698</span>
								<span  class=" home__hero-counter-wrapper_txt">استئناف تم إنشاؤه اليوم</span>
							</div>
						</div>
					</div>
					<!-- home__hero-counter-main -->
				</div>
				<!-- col-md-6 -->
				<div class="col-md-6">
					<a class="home-about-cover" href="/create-resume"  data-wow-duration="3s" data-wow-delay=".4s" ></a>
				</div>
				<!-- col-md-6 -->
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</section>
	<!-- home-about -->

	<section class="why-home">
		<div class="container">
			<div class="section-title btn-link-blue text-center">
				<h2 class="  "> بناء سيرتك الذاتية الفائزة في ثلاث خطوات بسيطة</h2>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="about-post">
						<div class="about-icon p-right">
							<span>1</span>
						</div>
						<!-- about-icon -->
						<div class="about-content">
							<h3> اختر واحدة من السير الذاتية المصممة بشكل احترافي</h3>
						</div>
						<!-- about-content -->
					</div>
					<!-- about-post -->
				</div>
				<!-- col-md-6 -->
				<div class="col-md-4">
					<div class="about-post">
						<div class="about-icon p-right">
							<span>2</span>
						</div>
						<!-- about-icon -->
						<div class="about-content">
							<h3> اختر واحدة من السير الذاتية المصممة بشكل احترافي</h3>
						</div>
						<!-- about-content -->
					</div>
					<!-- about-post -->
				</div>
				<!-- col-md-6 -->
				<div class="col-md-4">
					<div class="about-post">
						<div class="about-icon p-right">
							<span>3</span>
						</div>
						<!-- about-icon -->
						<div class="about-content">
							<h3> اختر واحدة من السير الذاتية المصممة بشكل احترافي</h3>
						</div>
						<!-- about-content -->
					</div>
					<!-- about-post -->
				</div>
				<!-- col-md-6 -->
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</section>
	<!-- about-home -->
	<section class="features-home">
		<div class="container">
			<div class="section-title btn-link-blue text-center">
				<h2 class="  "> قم ببناء سيرة ذاتية جديرة بالاهتمام تساعدك على توظيفك بشكل أسرع</h2>
			</div>

			<div class="row">
				<div class="col-md-3">
					<div class="features-box">
						<div class="features-box-img">
							<img class="home__features-image" alt="Build a Resume Quick and easy" src="https://cdn.resume.io/assets/landing/home/save_time-c6cd5b1f0695e3b512e8b495ea66b55bbdf02f0481d088d4c137c7b98ea57199.svg" width="100" height="100">
						</div>
						<!-- about-icon -->
						<div class="features-box-content">
							<h3> اختر واحدة من السير الذاتية المصممة بشكل احترافي</h3>
							<p>
								وفر الوقت من خلال منشئ السيرة الذاتية السهل المكون من 3 خطوات. لا مزيد من حظر أو صعوبات الكاتب في Word. بسرعة بناء السيرة الذاتية حب أرباب العمل.
							</p>
						</div>
						<!-- about-content -->
					</div>
					<!-- about-post -->
				</div>
				<!-- col-md-3 -->
				<div class="col-md-3">
					<div class="features-box">
						<div class="features-box-img">
							<img class="home__features-image" alt="Build a Resume Quick and easy" src="https://cdn.resume.io/assets/landing/home/save_time-c6cd5b1f0695e3b512e8b495ea66b55bbdf02f0481d088d4c137c7b98ea57199.svg" width="100" height="100">
						</div>
						<!-- about-icon -->
						<div class="features-box-content">
							<h3> اختر واحدة من السير الذاتية المصممة بشكل احترافي</h3>
							<p>
								وفر الوقت من خلال منشئ السيرة الذاتية السهل المكون من 3 خطوات. لا مزيد من حظر أو صعوبات الكاتب في Word. بسرعة بناء السيرة الذاتية حب أرباب العمل.
							</p>
						</div>
						<!-- about-content -->
					</div>
					<!-- about-post -->
				</div>
				<!-- col-md-3 -->
				<div class="col-md-3">
					<div class="features-box">
						<div class="features-box-img">
							<img class="home__features-image" alt="Build a Resume Quick and easy" src="https://cdn.resume.io/assets/landing/home/save_time-c6cd5b1f0695e3b512e8b495ea66b55bbdf02f0481d088d4c137c7b98ea57199.svg" width="100" height="100">
						</div>
						<!-- about-icon -->
						<div class="features-box-content">
							<h3> اختر واحدة من السير الذاتية المصممة بشكل احترافي</h3>
							<p>
								وفر الوقت من خلال منشئ السيرة الذاتية السهل المكون من 3 خطوات. لا مزيد من حظر أو صعوبات الكاتب في Word. بسرعة بناء السيرة الذاتية حب أرباب العمل.
							</p>
						</div>
						<!-- about-content -->
					</div>
					<!-- about-post -->
				</div>
				<!-- col-md-3 -->
				<div class="col-md-3">
					<div class="features-box">
						<div class="features-box-img">
							<img class="home__features-image" alt="Build a Resume Quick and easy" src="https://cdn.resume.io/assets/landing/home/save_time-c6cd5b1f0695e3b512e8b495ea66b55bbdf02f0481d088d4c137c7b98ea57199.svg" width="100" height="100">
						</div>
						<!-- about-icon -->
						<div class="features-box-content">
							<h3> اختر واحدة من السير الذاتية المصممة بشكل احترافي</h3>
							<p>
								وفر الوقت من خلال منشئ السيرة الذاتية السهل المكون من 3 خطوات. لا مزيد من حظر أو صعوبات الكاتب في Word. بسرعة بناء السيرة الذاتية حب أرباب العمل.
							</p>
						</div>
						<!-- about-content -->
					</div>
					<!-- about-post -->
				</div>
				<!-- col-md-3 -->
				<div class="clearfix"></div>
				<div class="read-more-slide margin-b-0 margin-t-15 text-center">
					<a href="#" class="btn btn-header ">   تعرف على المزيد </a>
				</div>

			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</section>
	<!-- features-home -->

	<section class="home-testimonials">
		<div class="container">
			<div class="section-title btn-link-blue text-center">
				<h2 class="  ">  راى العملاء بنا</h2>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="testimonials-box">
						<div class="testimonials-box-head clearfix">
							<div class="testimonials-box-head-img">
								<img src="./assets/styles/images/customer-1.jpg" alt="">
							</div>
							<!-- testimonials-box-head-img -->
							<h3>محمد على</h3>
							<h4>مطور ويب</h4>
						</div>
						<!-- testimonials-box-head -->
						<div class="testimonials-content">
							<p>
								هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.

							</p>
						</div>
						<!-- testimonials-content -->

					</div>
					<!-- testimonials-box -->
				</div>
				<!-- col-md-4 -->
				<div class="col-md-4">
					<div class="testimonials-box">
						<div class="testimonials-box-head clearfix">
							<div class="testimonials-box-head-img">
								<img src="./assets/styles/images/customer-1.jpg" alt="">
							</div>
							<!-- testimonials-box-head-img -->
							<h3>محمد على</h3>
							<h4>مطور ويب</h4>
						</div>
						<!-- testimonials-box-head -->
						<div class="testimonials-content">
							<p>
								هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.

							</p>
						</div>
						<!-- testimonials-content -->

					</div>
					<!-- testimonials-box -->
				</div>
				<!-- col-md-4 -->
				<div class="col-md-4">
					<div class="testimonials-box">
						<div class="testimonials-box-head clearfix">
							<div class="testimonials-box-head-img">
								<img src="./assets/styles/images/customer-1.jpg" alt="">
							</div>
							<!-- testimonials-box-head-img -->
							<h3>محمد على</h3>
							<h4>مطور ويب</h4>
						</div>
						<!-- testimonials-box-head -->
						<div class="testimonials-content">
							<p>
								هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.

							</p>
						</div>
						<!-- testimonials-content -->

					</div>
					<!-- testimonials-box -->
				</div>
				<!-- col-md-4 -->
			</div>
			<!-- row -->

			<div class="clearfix"></div>

			<div class="text-center margin-t-15 margin-b-15">
				<div class="col-md-offset-3 col-md-6 color-gra margin-t-15">
					<span>
						تم إرسال الشهادات التي تم العثور عليها في Resume.io إلينا بواسطة عملاء Resume.io أو CVster.nl وقد لا تعكس تجربة المشتري المعتادة ولا تهدف إلى تمثيل أو ضمان حصول أي شخص على نفس النتائج أو نتائج مماثلة.
					</span>
				</div>
			</div>
		</div>
		<!-- container -->

	</section>
	<!-- home-testimonials -->

	<section class="Companies-home">
		<div class="container">
			<div class="section-title text-center">
				<h2>   الشركات التي استأجرت المتقدمين الذين استخدموا باني السيرة الذاتية الخاصة بك  </h2>
			</div>
			<div class="Companies-home-content ">

				<div class="text-center margin-b-15">
					<img src="./assets/styles/images/Companies.png" alt="">
				</div>
				<div class="Companies-num text-center margin-b-15">
					<div class="col-md-10 col-md-offset-1">
						<div class="col-md-4">
							<div class="Companies-num-main">
								<span class="Companies-num-main-num btn-link-blue lang_en">1,784,893</span>
								<span class="Companies-num-main-txt ">مستخدم</span>
							</div>
							<!-- Companies-num-main -->
						</div>
						<!-- col-md-4 -->
						<div class="col-md-4">
							<div class="Companies-num-main">
								<span class="Companies-num-main-num btn-link-blue lang_en">6,924</span>
								<span class="Companies-num-main-txt ">مستخدم</span>
							</div>
							<!-- Companies-num-main -->
						</div>
						<!-- col-md-4 -->
						<div class="col-md-4">
							<div class="Companies-num-main">
								<span class="Companies-num-main-num btn-link-blue lang_en">12,389</span>
								<span class="Companies-num-main-txt ">مستخدم</span>
							</div>
							<!-- Companies-num-main -->
						</div>
						<!-- col-md-4 -->
					</div>
				</div>
				<!-- Companies-num -->
			</div>
			<!-- Companies-home-content -->
		</div>
		<!-- container -->
	</section>
	<!-- Companies-home -->

</div>

<app-footer-ctn></app-footer-ctn>