<div class="login-page-main clearfix">


  <div class="login-logo text-center margin-t-70  margin-b-70 margin-b-15">
    <div class="camp-logo">
      <a routerLink="/" class="margelogin"><img src="/assets/images/logo.svg" alt="الشعار" title="الرئيسية"></a>
    </div>
  </div>
  <!--login-logo-->


  <div class="col-md-4 col-md-offset-4">



    <div class="box-min">
      <div class="box-head">
        <ul class="nav nav-tabs">
          <li class="active btn-block text-center"><a> <span> استعادة كلمة السر </span></a></li>
        </ul>
      </div>
      <!--box-head-->
      <div class="box-min-content">
        <div class="form-main">
          <div [ngSwitch]="_error" *ngIf="_error">
            <div class="alert alert-success" *ngSwitchCase="'success'">تم ارسال رابط استعادة كلمة السر الى بريدك الالكتروني.</div>
            <div class="alert alert-danger" *ngSwitchDefault>{{lang.arabic[_error] ? lang.arabic[_error] : lang.arabic.opps_error}}</div>
          </div>
          <form [formGroup]="user" (ngSubmit)="sendResetPassword()">

            <div class="login-main form-main  ">
              <div class="form-login">
                <div class="form-group">
                  <input type="email" formControlName="email" id="email" class="form-control" placeholder=" البريد الالكتروني">
                  <div class="alert alert-danger" *ngIf="email.invalid && email.touched">يجب كتابة بريد صحيح</div>
                </div>
                <div class="read-more-home read-more-slide-cat text-center margin-t-15 ">
                  <i class="fa fa-spin fa-spinner fa-3x" *ngIf="loading"></i>
                  <button type="submit" class="hvr-bounce-to-right" [disabled]="user.invalid" *ngIf="!loading"> ارسال</button>
                </div>
                <!-- read-more-slide-cat -->
                <!-- text-center -->
              </div>
              <!--form-login-->
            </div>
            <!--login-main-->
          </form>
          <div class=" text-center">
            <a routerLink="/login" class="btn btn-link  margin-b-0 text-center"> <span> دخول</span></a>
          </div>
        </div>
        <!--form-main-->
      </div>
      <!--box-min-content-->
    </div>
    <!--box-min-->

  </div>
</div>
<!--login-page-->