<header app-navbar id="header-con"></header>
<div id="main">
  <div app-sidebar class="col-md-3 col-sm-12 col-xs-12 sidebar "></div>
  <div class=" main-content">
    <div class="content-wrapper">
      <div class="main-content-in">
        <div class=" ">
          <div class="box-min2 box-fff-bg clearfix">
            <div class="col-md-4 pp-left Settings-sidebar ">
              <div class="box-min  box-none-bg ">
                <div class="box-head margin-b-15">
                  <div class="box-head-link">
                    <a class="head-link-a">
                      معلومات عامة
                    </a>
                  </div>
                  <!--box-head-link-->
                </div>
                <!--box-head-->
                <div class="Settings-sidebar-info">
                  <ul>
                    <li><a>الامان و الخصوصية</a> </li>
                    <li><a> مساعدة ؟</a> </li>
                    <li><a> اتصل بنا </a> </li>
                    <li><a class="color-red"> حذف الحساب</a> </li>
                  </ul>
                </div>
                <!-- Settings-sidebar-info -->

              </div>
              <!--box-min-->
            </div>
            <!-- col-md-8 -->
            <div class="col-md-8 padding-r-0">
              <div class="box-min   ">
                <div class="box-head">
                  <ul class="nav nav-tabs">
                    <li class="active"><a> <span> معلومات عامة </span></a></li>
                  </ul>
                </div>
                <!--box-head-->
                <div class="box-min-content">
                  <div class="alert alert-success" *ngIf="changeSuccess">تم حفظ التغييرات</div>
                  <div [ngSwitch]="uploadFailed">
                    <div class="alert alert-danger" *ngSwitchCase="'invalid'">خطأ لم يتم حفظ الصورة</div>
                    <div class="alert alert-danger" *ngSwitchCase="'type'">صيغة الصورة غير مدعومة</div>
                    <div class="alert alert-danger" *ngSwitchCase="'size'">اقصى حجم للشعار 1MB</div>
                    <div class="alert alert-danger" *ngSwitchCase="'image_size'">مقاسات الشعار يجب ان تكون 150 * 60 او 60*60</div>
                  </div>
                  <div app-loading *ngIf="loading"></div>
                  <div class="form-main" *ngIf="!loading">
                    <form [formGroup]="settings" (ngSubmit)="save()">
                      <div class=" Settings-form-main">
                        <div class="row Settings-clone">
                          <div class="col-md-12">
                            <div class="form-group">
                              <div class="company-Settings-img clearfix">
                                <div class="images-r pull-left" *ngIf="!uploadLoading">
                                  <img [src]="logoUrl || '/assets/images/logo.svg'" alt="شعار شركتك" title="شعار شركتك">
                                </div>
                                <!-- images-r -->
                                <div class="form-group">
                                  <div *ngIf="!uploadLoading" class="fileupload fileupload-new pic-img-up"
                                    data-provides="fileupload">
                                    <span class="btn btn-primary btn-file">
                                      <span class="fileupload-new"><i class="fa fa-cloud-upload"></i> اختر صورة </span>
                                      <span class="fileupload-exists"><i class="fa fa-cloud-upload"></i> تغيير</span>
                                      <input type="file" (change)="uploadLogo($event)" accept=".png,.jpg,.svg" />
                                    </span>
                                    <div style="font-size: 10px;color: #8c8a8a;">حجم الشعار المسموح به 1MB , الصيغ المسموحة ( PNG , JPG , JPEG )</div>
                                  </div>
                                  <div *ngIf="uploadLoading" app-loading></div>
                                </div>
                                <!--form-group-->
                              </div>
                              <!-- company-Settings-img -->
                            </div>
                            <!--form-group-->
                          </div>
                          <!--col-md-6-->
                          <div class="col-xs-12">
                            <div class="form-group">
                              <label> اسم الشركة </label>
                              <input type="text" formControlName="company_name" class="form-control" placeholder=" ادخل اسم الشركة">
                            </div>
                            <!--form-group-->
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label> رقم الجوال </label>
                              <input type="text" formControlName="company_phone" class="form-control" placeholder=" ادخل رقم الجوال">
                            </div>
                            <!--form-group-->
                          </div>
                          <!--col-md-6-->
                          <div class="col-md-6">
                            <div class="form-group">
                              <label> الايميل </label>
                              <input type="text" formControlName="company_email" class="form-control" placeholder=" ادخل الايميل ">
                            </div>
                            <!--form-group-->
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label> الرقم الضريبي </label>
                              <input type="text" onlyNumber formControlName="fees_number" class="form-control"
                                maxlength="25" placeholder="الرقم الضريبي ">
                            </div>
                            <!--form-group-->
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label> اللغة </label>
                              <select formControlName="lang" class="form-control">
                                <option value="ar"> Arabic </option>
                                <option value="en"> English </option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <!--row-->
                      </div>
                      <!--Settings-form-main-->

                      <div class="">
                        <div class=" text-left">
                          <div class="read-more-home read-more-slide-cat">
                            <button type="submit" [disabled]="settings.invalid" class="hvr-bounce-to-right">حفظ</button>
                            <button type="button" class="btn-b hvr-bounce-to-right">الغاء</button>
                          </div>
                          <!-- read-more-slide-cat -->
                        </div>
                        <!-- read-more-slide-cat -->
                      </div>
                      <!-- read-more-absolute -->
                    </form>
                  </div>
                  <!--form-main-->
                </div>
                <!--box-min-content-->
              </div>
              <!--box-min-->
            </div>
            <!-- col-md-9 -->
          </div>
          <!-- box-min2 -->
        </div>
        <!-- row -->
      </div>
      <!--content-wrapper -->
    </div>
    <!--col-md-9 main-content -->
    <footer id="footer" app-footer></footer>
  </div>
  <!--main-content-in-->

</div>