<app-header-ctn></app-header-ctn>
<div class="ctnPage">
	<section class="pricing-top" >
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-pull-8  ">
					<div class="section-title btn-link-blue">
						<h2 class=" btn-link-blue"> استئناف الأدوات للجميع </h2>
					</div>
				</div>
				<!-- col-md-6 -->
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</section>
	<!-- home-about -->

	<section class="pricing-main">
		<div class="container small-padding">
			<div class="row">
				<div class="col-md-3">
					<div class="pricing-main-box">
						<div class="pricing-main-box-head">
							<span class="card-price">74.95</span>
							<span class="card-currency">$</span>
							<div class="pricing__card-caption"> 12 شهر</div>
						</div>
						<!-- pricing-main-box-head -->
						<div class="pricing-main-box-contenr">
							<div class="pricing__card-feature-list">
								<ul>
									<li>استئناف غير محدود ورسائل الغلاف</li>
									<li>جميع القوالب والألوان المتميزة </li>
									<li>غير محدود قوات الدفاع الشعبي التنزيلات </li>
									<li>دفعة لمرة واحدة ، لا حاجة للإلغاء</li>
								</ul>
							</div>
							<!-- pricing-main-box-contenr -->
							<div class="read-more-slide margin-b-15 margin-t-15 text-center">
								<a href="#" class="btn btn-header ">  اشترك الان </a>
							</div>
						</div>
						<!-- pricing-main-box-contenr -->

					</div>
					<!-- pricing-main-box -->
				</div>
				<!-- col-md-3 -->
				<div class="col-md-3">
					<div class="pricing-main-box">
						<div class="pricing-main-box-head">
							<span class="card-price">74.95</span>
							<span class="card-currency">$</span>
							<div class="pricing__card-caption"> 12 شهر</div>
						</div>
						<!-- pricing-main-box-head -->
						<div class="pricing-main-box-contenr">
							<div class="pricing__card-feature-list">
								<ul>
									<li>استئناف غير محدود ورسائل الغلاف</li>
									<li>جميع القوالب والألوان المتميزة </li>
									<li>غير محدود قوات الدفاع الشعبي التنزيلات </li>
									<li>دفعة لمرة واحدة ، لا حاجة للإلغاء</li>
								</ul>
							</div>
							<!-- pricing-main-box-contenr -->
							<div class="read-more-slide margin-b-15 margin-t-15 text-center">
								<a href="#" class="btn btn-header ">  اشترك الان </a>
							</div>
						</div>
						<!-- pricing-main-box-contenr -->

					</div>
					<!-- pricing-main-box -->
				</div>
				<!-- col-md-3 -->
				<div class="col-md-3">
					<div class="pricing-main-box">
						<div class="pricing-main-box-head">
							<span class="card-price">74.95</span>
							<span class="card-currency">$</span>
							<div class="pricing__card-caption"> 12 شهر</div>
						</div>
						<!-- pricing-main-box-head -->
						<div class="pricing-main-box-contenr">
							<div class="pricing__card-feature-list">
								<ul>
									<li>استئناف غير محدود ورسائل الغلاف</li>
									<li>جميع القوالب والألوان المتميزة </li>
									<li>غير محدود قوات الدفاع الشعبي التنزيلات </li>
									<li>دفعة لمرة واحدة ، لا حاجة للإلغاء</li>
								</ul>
								<ul class="pricing__card-feature-list-star">
									<li>  7 أيام ضمان استعادة الاموال </li>
								</ul>
							</div>
							<!-- pricing-main-box-contenr -->
							<div class="read-more-slide margin-b-15 margin-t-15 text-center">
								<a href="#" class="btn btn-header ">  اشترك الان </a>
							</div>
						</div>
						<!-- pricing-main-box-contenr -->

					</div>
					<!-- pricing-main-box -->
				</div>
				<!-- col-md-3 -->
				<div class="col-md-3">
					<div class="pricing-main-box">
						<div class="pricing-main-box-head">
							<span class="card-price">74.95</span>
							<span class="card-currency">$</span>
							<div class="pricing__card-caption"> 12 شهر</div>
						</div>
						<!-- pricing-main-box-head -->
						<div class="pricing-main-box-contenr">
							<div class="pricing__card-feature-list">
								<ul>
									<li>استئناف غير محدود ورسائل الغلاف</li>
									<li>جميع القوالب والألوان المتميزة </li>
									<li>غير محدود قوات الدفاع الشعبي التنزيلات </li>
									<li>دفعة لمرة واحدة ، لا حاجة للإلغاء</li>
								</ul>
							</div>
							<!-- pricing-main-box-contenr -->
							<div class="read-more-slide margin-b-15 margin-t-15 text-center">
								<a href="#" class="btn btn-header ">  اشترك الان </a>
							</div>
						</div>
						<!-- pricing-main-box-contenr -->

					</div>
					<!-- pricing-main-box -->
				</div>
				<!-- col-md-3 -->

			</div>
			<!-- row -->
			<div class="clearfix"></div>
			<div class="text-center margin-t-30 margin-b-15">
				<img src="./assets/styles/images/pay.png" alt="">
				<div class="paypal">
					<span>نحن نقبل جميع طرق الدفع الرئيسية وعمليات الدفع باستخدام تأمين SSL Secure / 256-bit SSL الآمن. 7 أيام ضمان استعادة الاموال.</span>
				</div>
			</div>
		</div>
		<!-- container -->
	</section>
	<!-- pricing-main -->
	<section class="faq-main">
		<div class="container  ">
			<div class="row">
				<div class="col-md-3">
					<div class="section-title ">
						<h2 class="  "> أسئلة حول التسعير</h2>
					</div>
				</div>
				<!-- col-md-4 -->
				<div class="col-md-6">
					<div class="faq-box ">

						<div class="faq-home-content ">

							<div class="panel-group" id="accordion">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
												ما هى متطلبات ايجار سيارة ؟
												<img src="./assets/styles/images/SVG/svgexport-2.svg" class="img-accordion  " alt="">
											</a>
										</h4>
									</div>
									<div id="collapse1" class="panel-collapse collapse in">
										<div class="panel-body">
											ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟
											ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
												ما هى متطلبات ايجار سيارة ؟  <img src="./assets/styles/images/SVG/svgexport-2.svg" class="img-accordion  " alt="">
											</a>
										</h4>
									</div>
									<div id="collapse2" class="panel-collapse collapse">
										<div class="panel-body">
											ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟
											ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
												ما هى متطلبات ايجار سيارة ؟  <img src="./assets/styles/images/SVG/svgexport-2.svg" class="img-accordion  " alt="">
											</a>
										</h4>
									</div>
									<div id="collapse3" class="panel-collapse collapse">
										<div class="panel-body">
											ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟
											ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
												ما هى متطلبات ايجار سيارة ؟  <img src="./assets/styles/images/SVG/svgexport-2.svg" class="img-accordion  " alt="">
											</a>
										</h4>
									</div>
									<div id="collapse4" class="panel-collapse collapse">
										<div class="panel-body">
											ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟
											ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
												ما هى متطلبات ايجار سيارة ؟  <img src="./assets/styles/images/SVG/svgexport-2.svg" class="img-accordion  " alt="">
											</a>
										</h4>
									</div>
									<div id="collapse5" class="panel-collapse collapse">
										<div class="panel-body">
											ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟
											ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
												ما هى متطلبات ايجار سيارة ؟  <img src="./assets/styles/images/SVG/svgexport-2.svg" class="img-accordion  " alt="">
											</a>
										</h4>
									</div>
									<div id="collapse6" class="panel-collapse collapse">
										<div class="panel-body">
											ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟
											ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟    ما هى متطلبات ايجار سيارة ؟
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- row -->
					</div>
					<!-- faq-box -->
				</div>
				<!-- col-md-4 -->
			</div>
			<!-- row -->
			<div class="clearfix"></div>
		</div>
		<!-- container -->
	</section>
	<!-- pricing-main -->
</div>
<app-footer-ctn></app-footer-ctn>