@charset "utf-8";
/* CSS Document */



@media only screen and  (min-width: 1024px){
  .pp-left {
    float: left;
  }
.login-usercs .modal-dialog { width: 450px;}
.header-search { margin-top:30px;}
.home-icon {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}
 .widget-order .form-control { width:162px;}
 .head-logo {
     width: 245px;
 }
.icon-left {
  padding-left: 30px;
}
.icon-left li:last-child a{
  padding-left: 0;
}
.navbar-toggle-c-single {
    margin-right: 20px;
}
/**************/

.sidebar {
    padding: 0;
    width: 245px;
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100%;
    z-index: 44;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

}
.sidebar-mini .sidebar {
  width: 70px !important;
}
.sidebar-mini .sidebar .list-group a >span{
  display: none;
  -webkit-transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;

}
.sidebar-mini .sidebar .list-group .collapsemain {
  display: none;
  position: absolute;
  right: 70px;
  left: 0;
  z-index: 55;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

}
.sidebar-mini .sidebar .list-group  > ul > li > a > i.fa-caret-down{
  display: none;
}
.sidebar-mini .sidebar .list-group > ul > li  {
 position: relative;
}
.sidebar-mini .sidebar .list-group > ul > li:hover  {
  width: 245px;
}
.sidebar-mini .sidebar .list-group  > ul > li:hover  a > span,
.sidebar-mini .sidebar .list-group  > ul > li:hover  a > i.fa-caret-down
 {
    display: inline-block;
    padding-right: 15px;
}
.sidebar-mini .sidebar .list-group  > ul > li:hover  .collapsemain
{
    display: block;
}
.sidebar-mini .main-content{
    margin-right: 70px !important;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

}
.sidebar-mini .main-content{
    margin-right: 70px !important;
}
.content-wrapper {
  padding: 30px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

}
#footer{
  background: #fff;
  padding: 15px 30px;
}
.main-content {
    margin-right: 245px;
}
}
@media only screen and (max-width: 1026px) and (min-width: 1024px){

}
@media only screen and ( max-width: 1024px ){

.fixed_in ,.fixed_in #mainnav  ,.fixed #mainnav , .fixed  { width:965px  }



/*#header-container .container { padding:0px !important}*/
.logo-header { text-align:center;}
.visible-desktop { display:none;}
.hidden-desktop { display:block;}



}
/* TABLET  : 768px  ----  col-sm */
@media only screen and (max-width: 985px) and (min-width: 768px){
.fixed_in ,.fixed_in #mainnav  , .fixed  ,.fixed #mainnav {  width:760px; margin:0 auto;  }

/*.fixed #mainnav { width:760px; margin:0 auto; }	*/


#topbar {height: 46px;}
.logo-header { text-align:center;}

.ads-header img { max-width:100%}
/*#header-container .container { padding:0px !important}*/
.visible-desktop { display:none;}
.hidden-desktop { display:block;}
#shre-top {   text-align:center;  }

#shre-top .btn:hover {
background: rgb(0, 0, 0);
background: transparent;
background: rgba(0, 0, 0, 0.2);/* FF3+,Saf3+,Opera 10.10+,Chrome,IE9*/
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);/*IE 5.5-7*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000)";/*IE8*/
zoom: 1;
border:  none;
border-radius: 0;
color: #FFFFFF;
margin-top: 3px;
padding: 3px 0;
width: 26px;
position:relative;
}
#mainnav .dropdown-topbar {  width:94% !important;  }


#shre-top { float:left }
#topbar .form-control { width:264px;}
.ditels-slide {   top:10px; }
.video-slide .controls li { margin-left:14.1px;}
 /******************/
.header-container { text-align:center;}
a.logo-header  { display:block; text-align:center;  float: left;     width: 76%;}
.header-container   .navbar-collapse  { display:block; text-align:center; width: 100%;}
.header-container .navbar-nav    { display: block; text-align:center;  margin:0 auto; width: 100%;}
.header-container .navbar-nav > li  { display:inline-block; float:none;}

/********************/




 }
@media only screen and (max-width: 985px) and (min-width: 800px){



}

/*  Phone  : 480px   ----  col-xs */
@media only screen and (max-width: 767px) and (min-width: 480px){
  .fixed_in ,.fixed_in #mainnav    , .fixed {  width:304px ; margin:0 auto;  }
  .fixed #mainnav {  width:304px ; margin:0 auto;  }
  .dropdown-topbar{width:95% }
  #topbar {height: 46px;}
  .logo-header {display:block;  float:none; text-align:center;}

  /*#header-container .container { padding:0px !important}*/
  .visible-desktop { display:none;}
  .hidden-desktop { display:block;}
  #shre-top { text-align:center;}
  .shre-top .btn1 { margin-left:0;}
    .navbar-collapse  {float:none;width:100%;}


  .store-departments-list .navbar ul ul {

  text-align:right;
  }
  .store-departments-list .dropdown-submenu>a:before {
  		font-family: 'FontAwesome';
    		content: "\f0d9";
    		left:10px;
  		top:13px;
  		color:#7c7c7c;
  		font-size:16px;
  		position:absolute;
  }
  .store-departments-list .navbar-header {
  		background:#f04e4d;
  		color:#fff;
  	}
  .store-departments-list .navbar-default .navbar-brand {color:#fff;}
  .store-departments-list .navbar-toggle { background:#fff; color:#f04e4d;}
    /***************/

  .user-button   {  text-align:center;}
  .user-button li { float:none; display:inline-block;}
   /***********/
   .head-logo {
      float: none;
    }
  .camp-logo {
    display: block;
    text-align: center;
  }
  .navbar-toggle-c-single { margin-right:4px;}
  .sidebar { display:none; float:none; position:absolute ;top:60px; right:0px; z-index:66;}
  .avatar-user span {
    display: none;
  }
  /****************/
  .icon-left > ul > .notifications-menu > .dropdown-menu,
  .icon-left > ul > .messages-menu > .dropdown-menu,
  .icon-left > ul > .tasks-menu > .dropdown-menu {
    width: 280px;
    top: 90px;
    left: 0;
    right: 0;
    position: fixed;
    margin: auto;
  }
}
/* Phone  : 320px */
@media only screen and (max-width: 479px){
.fixed_in ,.fixed_in #mainnav    , .fixed {  width:304px ; margin:0 auto;  }
.fixed #mainnav {  width:304px ; margin:0 auto;  }
.dropdown-topbar{width:95% }
#topbar {height: 46px;}
.logo-header {display:block;  float:none; text-align:center;}

/*#header-container .container { padding:0px !important}*/
.visible-desktop { display:none;}
.hidden-desktop { display:block;}
#shre-top { text-align:center;}
.shre-top .btn1 { margin-left:0;}
  .navbar-collapse  {float:none;width:100%;}


.store-departments-list .navbar ul ul {

text-align:right;
}
.store-departments-list .dropdown-submenu>a:before {
		font-family: 'FontAwesome';
  		content: "\f0d9";
  		left:10px;
		top:13px;
		color:#7c7c7c;
		font-size:16px;
		position:absolute;
}
.store-departments-list .navbar-header {
		background:#f04e4d;
		color:#fff;
	}
.store-departments-list .navbar-default .navbar-brand {color:#fff;}
.store-departments-list .navbar-toggle { background:#fff; color:#f04e4d;}
  /***************/

.user-button   {  text-align:center;}
.user-button li { float:none; display:inline-block;}
 /***********/
 .head-logo {
    float: none;
  }
.camp-logo {
  display: block;
  text-align: center;
}
.navbar-toggle-c-single { margin-right:4px;}
.sidebar { display:none; float:none; position:absolute ;top: 0px; right:0px; z-index:66;}
.avatar-user span {
  display: none;
}
.icon-right {
    /*padding-right: 5px;*/
}
.icon-left {
    padding-left: 10px;
}
.copy-r p, .copy-l p {
    text-align: center;
}
/****************/
.icon-left > ul > .notifications-menu > .dropdown-menu,
.icon-left > ul > .messages-menu > .dropdown-menu,
.icon-left > ul > .tasks-menu > .dropdown-menu {
  width: 280px;
  top: 90px;
  left: 0;
  right: 0;
  position: fixed;
  margin: auto;
}
}
