
  <!-- menu -->
  <div id="MainMenu">
    <div class="list-group panel">
      <ul>
        <li>
          <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="list-group-item collapsed">
            <i class="fa fa-tachometer Menu-icon"></i>
            <span>لوحة التحكم </span>
          </a>
        </li>
        <li>
          <a routerLink="/informations" class="list-group-item collapsed" routerLinkActive="active">
            <i class="fa fa-credit-card Menu-icon"></i>
            <span> المدفوعات </span>
          </a>
        </li>
        <li>
          <a routerLink="/new" class="list-group-item collapsed" routerLinkActive="active">
            <i class="fa fa-file-text Menu-icon"></i>
            <span> اضافة فاتورة جديدة </span>
          </a>
        </li>
        <!-- <li>
            <a href="" class="list-group-item collapsed" >
              <i class="fa fa-area-chart Menu-icon"></i>
              <span>  التقارير  </span>
            </a>
          </li> -->
        <li>
          <a routerLink="/settings" class="list-group-item collapsed" routerLinkActive="active">
            <i class="fa fa-female Menu-icon"></i>
            <span> الاعدادت </span>
          </a>
        </li>
        <!-- <li>
            <a href="#demo2" class="list-group-item  collapsed" data-toggle="collapse" data-parent="#MainMenu">
              <i class="fa fa-female Menu-icon"></i>
              <span>  الاعدادت  </span>
              <i class="fa fa-caret-down"></i>
            </a>
                <div class="collapse  collapsemain " id="demo2">
                  <a href="" class="list-group-item">  اعدادت عامة  </a>
                  <a href="" class="list-group-item"> اعدادت خاصة  </a>
                </div>
          </li> -->
      </ul>
    </div>
    <!-- list-group panel -->
  </div>
  <!-- MainMenu -->
 