.privacy-top {
    background: #f2f5fa;
    padding: 50px 0 0 0;
}
.privacy-main {
    background: #fff;
    padding: 50px 0;
}
.box-head {
  text-align: center;
  margin-top: 30px;
}
.box-head .nav-tabs {
  border: 0 !important;
}
.box-head .nav-tabs {
  text-align: center;
}
.box-head .nav-tabs li {
    display: inline-block !important;
    float: none;
}
.box-head .nav-tabs a {
    color: #98a1b3 !important;
    padding: 15px 20px;
    border: 0 !important;
    background: none !important;
    border-bottom: 2px solid #f7f7f9 !important;
    margin-bottom: -1px !important;
    min-width: 250px;
}
.box-head .nav-tabs a {
    color: #98a1b3 !important;
    padding: 15px 20px;
    border: 0 !important;
    background: none !important;
    border-bottom: 2px solid #f7f7f9 !important;
    margin-bottom: -1px !important;
    min-width: 250px;
}
li.active a {
    border: 0 !important;
    color: #333 !important;
    background: #fff !important;
    margin: 0;
}
.box-head .nav-tabs li.active a {
    border: 0 !important;
    color: #333 !important;
    background: #fff !important;
    margin: 0;
}