<app-header-ctn></app-header-ctn>
<div class="ctnPage">
	<section class="privacy-top" >
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 text-center  ">
					<div class="section-title btn-link-blue">
						<h2 class=" btn-link-blue"> وثائق قانونية </h2>
						<h3 class=" ">تم تحديث جميع الوثائق  </h3>
						<h3 class=" "> في 21 أيار 2016 </h3>
					</div>
				</div>
				<!-- col-md-6 -->
			</div>
			<!-- row -->
			<div class="box-head">
				<ul class="nav nav-tabs">
					<li  class="active"><a routerLink="/disclaimer"> <span> إخلاء المسئولية  </span></a></li>
					<li  class=""><a routerLink="/tos"> <span> شروط الخدمة </span></a></li>
					<li  class=""><a routerLink="/privacy"> <span>سياسة الخصوصية</span></a></li>
				</ul>
			</div>
		</div>
		<!-- container -->
	</section>
	<!-- home-about -->

	<section class="privacy-main">
		<div class="container ">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="documents__content">
						<h3>١. المعلومات</h3>
						<p>كيف يتعامل مستقل مع المعلومات التي تزودنا بها؟ يلتزم موقع مستقل بتأمين خصوصيتك حين تزور موقعنا وتتواصل معنا الكترونياً. هذه الصفحة توضح الوجه الذي سيتم عبره استخدام أي معلومات شخصية تزودنا بها خلال تواجدك في موقعنا. انتفاء المسؤولية القانونية يقر المُستخدِم بأنه المسؤول الوحيد عن طبيعة الاستخدام الذي يحدده للموقع الإلكتروني مستقل، وتخلي إدارة موقع مستقل طرفها، إلى أقصى مدى يجيزه القانون، من كامل المسؤولية عن أية خسائر أو أضرار أو نفقات أو مصاريف يتكبدها المُستخدِم أو يتعرض لها هو أو أي طرف آخر من جراء استخدام الموقع الإلكتروني مستقل أو العجز عن استخدامه. حالات انقطاع الخدمة والسهو والخطأ في الموقع الإلكتروني مستقل تبذل إدارة الموقع قصارى جهدها للحرص والحفاظ على استمرار عمل الموقع الإلكتروني بدون مشاكل، رغم ذلك قد تقع في أي وقت أخطاء وحالات سهو وانقطاع للخدمة وتأخير لها، وفي مثل هذه الحالات سنتوقع من المستخدمين الصبر حتى تعود الخدمة إلى معدلها الطبيعي. حساب المشترك وكلمة السر وأمن المعلومات يختار المشترك كلمة سر / مرور لحسابه، وسيُدخل عنوانا
							<a href="/contact">https://resume.io/contact</a> or by mail addressed to: 
						</p>
						<div class="documents__bottom">
							<div class="documents__bottom-address">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="documents__bottom-pin">
									<!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
									<title>Icons/ Default/ Pin</title>
									<desc>Created with Sketch.</desc>
									<defs></defs>
									<g id="Icons/-Default/-Pin" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<path d="M7.92325987,14.4023311 C6.74039163,13.3064252 6,11.7396764 6,10 C6,6.6862915 8.6862915,4 12,4 C15.3137085,4 18,6.6862915 18,10 C18,11.7155806 17.2799763,13.2629907 16.1256355,14.3565236 L12.3183103,19.1101916 C12.2999388,19.1331295 12.2790953,19.153973 12.2561573,19.1723445 C12.0837303,19.3104455 11.8319976,19.2826186 11.6938967,19.1101916 L7.92325987,14.4023311 Z M12,13 C13.6568542,13 15,11.6568542 15,10 C15,8.34314575 13.6568542,7 12,7 C10.3431458,7 9,8.34314575 9,10 C9,11.6568542 10.3431458,13 12,13 Z" id="Pin" fill="#2196F3"></path>
									</g>
								</svg>
								شركة الفن للإتصالات و تقنية المعلومات <br>حي الملك فهد ، شارع حائل 
							</div>
							<div class="documents__bottom-updated">تحديث نص الخصوصية بتاريخ<br>on May 21, 2016</div>
						</div>
					</div>
				</div>
				<!-- col-md-3 -->
			</div>
			<!-- row -->
			<div class="clearfix"></div>

		</div>
		<!-- container -->
	</section>
	<!-- pricing-main -->
</div>
<app-footer-ctn></app-footer-ctn>